body {
    background-image: url("https://raw.githubusercontent.com/mineralsc/mineralsc.github.io/master/Assets/Background/background.gif");
    background-size:cover;
    color: #ffffff;
}

#title {
    position: absolute;
    top: 32%; left: 48%;
    transform: translate(-50%, -50%);
	padding: 0; margin: 0;
    text-align: center;
	display: inline-block;
	margin: 0 11px;
    text-transform: uppercase;
    font-family: 'Rosemary', sans-serif;
    font-size: 40px;
    color: #ff8888;
    padding-bottom: 3px;
    text-decoration: none;
}
#nav {
    position: absolute;
    top: 20%; left: 20%;
    transform: translate(-50%, -50%);
	padding: 0; margin: 0;
    text-align: center;
}

#nav li {
	display: inline;
	list-style: none;
}

#nav a {
	display: inline-block;
	margin: 0 11px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Rosemary', sans-serif;
    font-size: 20px;
    color: #ff8888;
    padding-bottom: 3px;
    text-decoration: none;
}
#nav a:hover {
    animation: animationRotate 2s;
    font-size: 21px;
}

@keyframes animationRotate {
    100% {
        transform: rotate(720deg);
   }
}
